{% extends 'base.html' %}


{% block head_content %}
    <title>Solicitud de licencia</title>  
    

{% endblock head_content %}
    

{% block container %}
<div class="pagetitle">
  <h1>New Request</h1>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Data</h5>
              <!-- Multi Columns Form -->
              <form class="row g-3" method="POST" role="form" action="{% url 'request_license' %}" enctype="multipart/form-data">
                {% csrf_token %}
  
                {% if form.errors %}
      
                  <div class="alert alert-danger" role="alert">
                    {{ form.errors }}
                  </div>
            
                {% endif %}
        
                <div class="col-md-6">
                  <label for="inputEmail5" class="form-label">Last name</label>
                  <input type="text" class="form-control" name="last_name" id="last_name" value="{{request.user.last_name}}">
                </div>
                <div class="col-md-6">
                  <label for="inputName5" class="form-label">First name</label>
                  <input type="text" class="form-control" name="first_name" id="first_name" value="{{request.user.first_name}}">

                </div>
                <div class="col-md-6">
                  <label for="inputDate" class="col-sm-2 col-form-label">Desde</label>
                  <div class="col-sm-10">
                    <input type="date" class="form-control" name="date_form" id="date_form" onchange="data_days()" >
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="inputDate" class="col-sm-2 col-form-label">Hasta</label>
                  <div class="col-sm-10">
                    <input type="date" class="form-control" name ="date_to" id="date_to" onchange="data_days()">
                  </div>
                </div>
                
                <div class="col-md-2">
                  <label for="inputZip" class="form-label">Dias a solicitar</label>
                  <input type="text" class="form-control" name="usufruct" id="usufruct"  >
                </div>
                <div class="col-md-12">
                  <label for="inputPassword" class="col-sm-2 col-form-label">Descripcion</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" name="description" id="description" style="height: 100px"></textarea>
                  </div>
                </div>
                
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form><!-- End Multi Columns Form -->
    </div> 
  </div>          

<script>


  function data_days() {
 
    var usufruct = document.getElementById('usufruct')
      date_form = moment($('#date_form').val());
      date_to = moment($('#date_to').val());
      diff_days = parseInt(date_to.diff(date_form, 'days')) + parseInt(1); 
      sab = 0
      dom = 0
      num_dia = (parseInt(date_form.isoWeekday()));
    
    for(i=0;i<=diff_days;i++){
      if(num_dia == 6){
        sab++
      }
      if(num_dia == 7){
        dom++
        num_dia=0;
      }
      num_dia++
      
    }
    if (!date_form.isAfter(date_to)){
        days = diff_days - (sab + dom)
        if (isNaN(days)){
          usufruct.value ="...."
        }else{
          usufruct.value = days
        }
    }else{
      usufruct.value ="Formato de fechas invalido!"
    }
      
    
    
}

</script>

{% endblock container %}
    