{% extends 'base.html' %}
{% block 'head_content' %}

<title>Request</title>

{% endblock 'head_content' %}

{% block container %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Report</h6>
    </div>

    <div class="col-12">
        <div class="card recent-sales overflow-auto">

          <div class="card-body">
            <h5 class="card-title">|REQUEST|</h5>

            <table class="table table-borderless datatable">
                <thead>
                    <tr>
                            <th>Received</th>
                            <th>Person</th>
                            <th>Usufruct</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Action</th>
                                
                            
                    </tr>
                </thead>
                
                        
               
                <tbody>
                    {% for r in request %}
                        <tr>
                            <td>{{r.created}}</td>
                            <td>{{r.fist_name}} {{r.last_name}}</td>
                            <td>{{r.usufruct}}</td>
                            <td>{{r.date_form}} - {{r.date_to}}</td>
                                        {% if r.status == 0 %}
                                <td>SIN APROBAR</td>
                                        {% else %}
                                <td>APROBADO</td>
                                        {% endif %}
                            <td>
                                            
                                <a href="{% url 'update-request' r.id %}">
                                    <i class="fa-solid fa-file-pen"></i>
                                </a> 
                                <a href="{% url 'delete-request' r.id %}">
                                    <i class="bi bi-x-circle-fill"></i>
                                </a>            
                            </td>                 
                        </tr>    
                    {% endfor %}                         
                </tbody>
                           
                        
                            
                    </table>

            </div>
        </div>
   
</div>
{% endblock container %}